* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

#navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;

}

#navbar ul li a {
    text-decoration: none;
    color: white;

}

#welcome-section {
    background-color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
}

#welcome-section h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 20px 0;

}

#welcome-section p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px 0;
}

#projects {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px 0;
}